<div class="container">
    <form class="body"
          [formGroup]="signUpFormGroup"
          (ngSubmit)="onSubmit(signUpFormGroup.value)"
          [ngClass]="[loaded && leave ? 'leave':'', loaded ? 'loaded': '']">
      <h1>Sign Up</h1>

      <!-- first name -->
      <mat-form-field class="input">
        <mat-label>First name</mat-label>
        <input matInput
               placeholder="Enter a first name"
               formControlName="firstName"
               required
               autocomplete="off"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="signUpFormGroup.get('firstName').hasError('required') && submited"
                   class="error">
          Oops, first name is required!
        </mat-error>
      </mat-form-field>  

      <!-- last name -->
      <mat-form-field class="input">
        <mat-label>Last name</mat-label>
        <input matInput
               placeholder="Enter a last name"
               formControlName="lastName"
               required
               autocomplete="off"
               [errorStateMatcher]="matcher">
        <mat-error  *ngIf="signUpFormGroup.get('lastName').hasError('required') && submited"
                    class="error">
          Oops, login is required!
        </mat-error>
      </mat-form-field>  

      <!-- login -->
      <mat-form-field class="input">
        <mat-label>Login</mat-label>
        <input matInput
               placeholder="Enter a login"
               formControlName="email"
               required
               autocomplete="off"
               [errorStateMatcher]="matcher">
        <mat-error  *ngIf="signUpFormGroup.get('email').hasError('required') && submited"
                    class="error">
          Oops, login is required!
        </mat-error>
      </mat-form-field>  

      <!-- password -->
      <mat-form-field class="input">
        <mat-label>Password</mat-label>
        <input matInput
               placeholder="Enter a password"
               formControlName="password"
               autocomplete="off"
               required
               type="password"
               [errorStateMatcher]="matcher">
        <mat-error  *ngIf="signUpFormGroup.get('password').hasError('required') && submited"
                    class="error">
          Oops, password is required!
        </mat-error>
      </mat-form-field>

      <!-- password confirmation -->
      <mat-form-field class="input">
        <mat-label>Repeat Password</mat-label>
        <input matInput
               placeholder="Repeat a password"
               formControlName="passwordConfirmation"
               required
               name="password_confirmation"
               autocomplete="off"
               type="password"
               [errorStateMatcher]="matcher">
        <mat-error  *ngIf="signUpFormGroup.get('passwordConfirmation').hasError('required') && submited"
                    class="error">
          Oops, password is required!
        </mat-error>
        <mat-error  *ngIf="signUpFormGroup.get('passwordConfirmation').hasError('confirmationInvalid') && submited"
                    class="error">
          Oops, this field shold be the same value like 'Password' field!
        </mat-error>
      </mat-form-field>  
      <button type="submit"
              mat-flat-button
              color="primary">
        SignUp
      </button>
      <a class="link" [routerLink]="['/auth/sign-in']">
        SignIn
      </a>

      <div class="note">
        © Created by ArioShaman
      </div>
    </form>

    <div class="text">
      <div class="line" [ngClass]="[loaded && leave ? 'leave':'', loaded ? 'loaded': '']">
        We provide <span>BEST</span> 
      </div>
      <div class="line" [ngClass]="[loaded && leave ? 'leave':'', loaded ? 'loaded': '']">
        solutions for
      </div>
      <div class="line" [ngClass]="[loaded && leave ? 'leave':'', loaded ? 'loaded': '']">
        reading
      </div>
    </div>    
  </div>
