<div class="main-cont">
  <div class="bubble">
    <img src="../../../../assets/images/bubbles.png">
  </div>

  <div class="info-block">
    <div class="title">
      Best Mobile Application For Reading
    </div>

    <div class="button-line">
      <button mat-flat-button 
              class="blue my-butt"
              routerLink="/auth/signUp">
        Create a free Account
      </button>

      <span>or</span>

      <button mat-flat-button class="white my-butt">
        <div class="icon">

        </div>
        Download an App
      </button>
    </div>
  </div>
</div>