<div class="container">
  <form class="body"
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit(signInForm.value)">

    <h1>Sign In</h1>
    <mat-form-field class="input">
      <mat-label>Login</mat-label>
      <input  matInput
              placeholder="Enter a login"
              formControlName="email"
              required
              [errorStateMatcher]="matcher">
      <mat-error  *ngIf="signInForm.get('email').hasError('required') && submited"
                  class="error">
        Oops, login is required!
      </mat-error>
    </mat-form-field>  
    <mat-form-field class="input">
      <mat-label>Password</mat-label>
      <input  matInput
              placeholder="Enter a password"
              formControlName="password"
              required
              type="password"
              [errorStateMatcher]="matcher">
      <mat-error  *ngIf="signInForm.get('password').hasError('required') && submited"
                  class="error">
        Oops, password is required!
      </mat-error>
    </mat-form-field>  
    <button type="submit"
            mat-flat-button
            color="primary">
      SignIn
    </button>
    <a class="link" routerLink="/auth/signUp">
      SignUp
    </a>

    <div class="note">
      © Created by ArioShaman
    </div>
  </form>

  <div class="text">
    <div class="line">
      We provide <span>BEST</span> 
    </div>
    <div class="line">
      solutions for
    </div>
    <div class="line">
      reading
    </div>
  </div>
</div>