<div class="grid">
  <div class="actions">
    <button mat-flat-button 
            color="primary"
            [routerLink]="['details']"
            routerLinkActive="active">
      Details
    </button>

    <button mat-flat-button 
            color="primary"
            [routerLink]="['edit']"
            routerLinkActive="active">
      Edit
    </button>

    <button mat-flat-button 
            color="primary"
            (click)="delete()">
      Delete
    </button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
