<div class="container">
  <mat-icon aria-hidden="false"
            class="close"
            (click)="close()">
      close
  </mat-icon>
  <form class="body"
        [formGroup]="bookForm"
        (ngSubmit)="onSubmit(bookForm.value)">
    <h1>Create book</h1>
    
    <!-- Title -->
    <mat-form-field class="input">
      <mat-label>Title</mat-label>
      <input  matInput
              placeholder="Enter a title"
              formControlName="title"
              required
              [errorStateMatcher]="matcher">
      <mat-error *ngIf="bookForm.get('title').hasError('required') && submited"
                  class="error">
        Oops, title is required!
      </mat-error>
    </mat-form-field>  
    

    <!-- Description -->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput
                placeholder="Enter a title"
                formControlName="description"
                required
                rows="3"
                [errorStateMatcher]="matcher"
      ></textarea>
      <mat-error *ngIf="bookForm.get('description').hasError('required') && submited"
                  class="error">
        Oops, Description is required!
      </mat-error>
    </mat-form-field>

    <div class="flex-line">
      <div class="half-group">
        <!-- Author -->
        <mat-form-field class="select" 
        *ngIf="(authors$ | async) as resultAuthors">
          <mat-label>Choose an Author</mat-label>

          <mat-select formControlName="author"
                      required
                      [errorStateMatcher]="matcher">
            <mat-option [value]="author"
                    *ngFor="let author of resultAuthors">
            {{ author.firstName }} {{ author.lastName }}
            </mat-option>
          </mat-select>
          
          <mat-error *ngIf="bookForm.get('author').hasError('required') && submited"
                      class="error">
            Oops, Author is required!
          </mat-error>
        </mat-form-field>

        <!-- Writing Date -->
        <mat-form-field>
          <mat-label>Writing date</mat-label>
          <input matInput
                required 
                disabled
                [matDatepicker]="writingPicker" 
                placeholder="Enter a release date"
                formControlName="writingDate"
                [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="writingPicker"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #writingPicker></mat-datepicker>
          
          <mat-error *ngIf="bookForm.get('writingDate').hasError('required') && submited"
                      class="error">
            Oops, Writing date is required!
          </mat-error>
        </mat-form-field>
        <!-- Price -->
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput
                 required
                 type="number"
                 placeholder="Enter a price"
                 formControlName="price"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="bookForm.get('price').hasError('required') && submited"
                      class="error">
            Oops, Price  is required!
          </mat-error>             
        </mat-form-field>
      </div>
      <div class="half-group">
        <!-- Genre -->
        <mat-form-field class="select" 
                *ngIf="(genres$ | async) as resultGenres">

          <mat-label>Choose a genres</mat-label>
          <mat-select multiple formControlName="genres"
                      [errorStateMatcher]="matcher">
            <mat-option *ngFor="let genre of resultGenres"
                    [value]="genre">
            {{ genre.name }}
            </mat-option>
          </mat-select>
          
          <mat-error *ngIf="bookForm.get('genres').hasError('required') && submited"
                      class="error">
            Oops, Genres is required!
          </mat-error>
        </mat-form-field>        
        <!-- Release date -->
        <mat-form-field>
          <mat-label>Release date</mat-label>
          <input matInput 
                required
                disabled
                [matDatepicker]="releasePicker" 
                placeholder="Enter a release date"
                formControlName="releaseDate"
                [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="releasePicker"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #releasePicker></mat-datepicker>
          
          <mat-error *ngIf="bookForm.get('releaseDate').hasError('required') && submited"
                     class="error">
            Oops, Release date is required!
          </mat-error>
          <mat-error *ngIf="bookForm.get('releaseDate').hasError('invalidDate') && submited"
                     class="error">
            Release date should be later than Writing date
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <button type="submit"
            mat-flat-button
            color="primary">
      Create
    </button>
  </form>
</div>
