<div class="header"></div>

<div class="grid-short">
  <div class="actions">
    <button mat-flat-button 
            color="primary"
            [routerLink]="['show']"
            routerLinkActive="active">
      Details
    </button>

    <button mat-flat-button 
            color="primary"
            [routerLink]="['edit']"
            routerLinkActive="active"
            *showAdmin>
      Edit
    </button>

    <button mat-flat-button 
            color="primary"
            (click)="delete()"
            *showAdmin>
      Delete
    </button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

