<div class="subtitle">
  Our proposal
</div>

<div class="title">
  We provide you best experience of reading
</div>

<div class="purposes">
  <div class="purpose">
    <div class="text">Best team ever</div>
    <img src="../../../../assets/images/expirience/dr-01.png">
  </div>

  <div class="purpose">
    <div class="text">Exploring Reading Comfort</div>
    <img src="../../../../assets/images/expirience/dr-02.png">
  </div>

  <div class="purpose">
    <div class="text">Сozy like home</div>
    <img src="../../../../assets/images/expirience/dr-03.png">
  </div>
</div>