<ng-container *ngIf="loaded ; else elseBlock">
  <div class="container">
    <app-book *ngFor="let book of books"
              [book]="book"
              (genreFilter)="selectGenre($event)">
    </app-book>    
  </div>  
</ng-container>


<ng-template #elseBlock>
  <div class="container">
    <div  class="shadow-book"
          *ngFor="let book of shadowBooks">
      <div class="pad-cont">
        <div class="img"></div>

        <div class="title"></div>

        <div class="text"></div>

        <div class="price"></div>
      </div>
      <div class="genres">
        <div class="genre"></div>

        <div class="genre"></div>
      </div>
    </div>
  </div>
</ng-template>
