@import "./mixins.sass"
@import "./variables.sass"

html
  overflow-x: hidden !important

body 
  padding: 0px 
  margin: 0px
  font-family: 'roboto'

.header
  width: 100%
  height: 70px
  background: $blue
  position: fixed
  z-index: 2000
  box-shadow: $shadow

  @include mobile
    height: 50px

.grid
  position: relative
  top: 90px
  width: 960px
  margin: 0px auto
  // min-height: 100%
  
  @include tablet
    width: 580px
  
  @include mobile
    width: 320px
    top: 60px

.grid-short
  position: relative
  top: 90px
  width: 960px
  margin: 0px auto
  // min-height: 100%
  
  @include tablet
    width: 580px
  
  @include mobile
    width: 275px
    top: 60px

button.my-butt
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.25) !important
  height: 60px
  width: 300px
  border-radius: 50px
  font-weight: 400
  font-size: 18px

  @include desk
    height: 40px
    width: 230px
    font-size: 16px

  &.blue
    color: white
    background: $blue

  &.white
    color: $blue
    background: white
  
  .icon
    width: 45px
    width: 45px
    background: grey
