<div class="title">
  Administration Profile
</div>

<div class="profiles">
  <div class="profile-line">
    <div class="profile">
      <img src="../../../../assets/images/faces/face-01.png">
    </div>
    <div class="profile">
      <img src="../../../../assets/images/faces/face-02.png">
    </div>
    <div class="profile">
      <img src="../../../../assets/images/faces/face-03.png">
    </div>
    <div class="profile">
      <img src="../../../../assets/images/faces/face-04.png">
    </div>
  </div>
  <div class="profile-line">
    <div class="profile">
      <img src="../../../../assets/images/faces/face-05.png">
    </div>
    <div class="profile">
      <img src="../../../../assets/images/faces/face-06.png">
    </div>
    <div class="profile">
      <img src="../../../../assets/images/faces/face-07.png">
    </div>
    <div class="profile">
      <img src="../../../../assets/images/faces/face-08.png">
    </div>
  </div>
</div>