<div class="flex">
  <div class="inputs-cont">
    <mat-form-field class="input">
      <mat-label>Enter Search value</mat-label>
      <input type="text" 
             matInput
             placeholder="Enter search value"
             [formControl]="searchControl">
    </mat-form-field>
  
    <mat-form-field class="select"
                    *ngIf="(authors$ | async) as resultAuthors">
      <mat-label>Choose an Author</mat-label>
  
      <mat-select [formControl]="authorsControl"
                  multiple>
        <mat-option [value]="author.id"
                    *ngFor="let author of resultAuthors">
          {{ author.firstName }} {{ author.lastName }}
        </mat-option>
      </mat-select>
      
    </mat-form-field>
  
    <mat-form-field class="select"
                    *ngIf="(genres$ | async) as resultGenres">
      
      <mat-label>Choose a genre</mat-label>
      <mat-select [formControl]="genresControl"
                  multiple>
        <mat-option *ngFor="let genre of resultGenres"
                    [value]="genre.name">
          {{ genre.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <button class="clear" 
          mat-flat-button
          (click)="clearFilter()"
          [disabled]="disabled">
          Clear
  </button>
</div>

<div class="not-found" 
      *ngIf="countRecords === 0 && loaded">
  Not found
</div>

<ng-container *ngIf="loaded ; else elseBlock">
  <div class="container">
    <book *ngFor="let book of books"
          [book]="book"
          (genreFilter)="selectGenre($event)">
    </book>    
  </div>  
</ng-container>
<mat-paginator [length]="countRecords"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               (page)="pageEvent($event)">
</mat-paginator>

<ng-template #elseBlock>
  <div class="container">
    <div  class="shadow-book"
          *ngFor="let book of shadowBooks">
      <div class="pad-cont">
        <div class="img"></div>
        <div class="title"></div>
        <div class="text"></div>
        <div class="price"></div>
      </div>
      <div class="genres">
        <div class="genre"></div>
        <div class="genre"></div>
      </div>
    </div>
  </div>
</ng-template>
