book
  margin-left: 30px
  &:nth-child(3n+1)
    margin-left: 0px

mat-paginator
  width: 100%
  margin-top: 25px

.container
  width: 100%
  display: flex
  flex-wrap: wrap
  margin-bottom: 50px

.shadow-book
  margin-top: 30px
  margin-left: 30px
  background: #ececec
  width: 300px
  height: 400px
  &:nth-child(3n+1)
    margin-left: 0px

.not-found
  margin-top: 40px
  box-sizing: border-box
  height: 200px
  width: 100%
  background: #ececec
  display: flex
  justify-content: center
  align-items: center

.select 
  width: 180px

.flex 
  width: 100%
  height: 50px
  display: flex
  justify-content: space-between
  .inputs-cont
    display: flex
    justify-content: space-between
    width: 800px

.clear
  width: 100px
  height: 45px

.input
  width: 420px